body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #001d3d;
    
    
}

header {
    background-color: #001d3d;
    color: #f4f4f4;
    padding: 1em 0;
    text-align: center;
    margin-bottom: 0.5em;
}

.info {
    text-align: center;
}

h1, h2 {
    color: #f4f4f4;
    background-color: #001d3d;
    text-align: center;
    margin-bottom: 1em 0;
}

h3 {
    color: #f4f4f4;
    background-color: #001d3d;
    text-align: justify;
    margin-bottom: 1em 0;
}

a {
    color: #f4f4f4;
}

p {
    line-height: 1.6;
    color: #f4f4f4;
    background-color: #001d3d;
    text-align: justify;
    margin-bottom: 1em 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

section {
    background: #001d3d;
    padding: 1em;
    margin: 1em 0;
}

footer {
    background-color: #001d3d;
    color: #f4f4f4;
    text-align: center;
    padding: 1em 0;
    margin-top: 1em;
    position: static;
    bottom: 0;
    width: 100%;
}
